body{
    /* 设置容器的高度和宽度 */
    height: 100vh;
    width: 100vw;
    background-color: rgb(246,246,246);
}
.body{
    /* 初始化网页 */
    padding: 0;
    margin: 0;
}
    /* 网页方格全部显示边框 */
/* *{
    border: 1px solid;
} */

/* 图片圆形 */
img{
    width: 64px;
    height: 64px;
    margin: auto;
}


.btn{
    padding: 10px 50px;    /* 更改大小 */
    font-size:20px;
    transition: 0.3s;   /* 动画过渡 */
}

.btn:hover{    /* 当鼠标指针移动到当前执行 */
}

.form{
    border: 1px solid #fff;  /* 方框颜色 */
    background-color: #fff;
    transition: 0.3s;   /* 动画过渡 */
    margin-top: 10px;   /* 上下间距 */
    margin-right: auto; /* 左右间距 */
    width: 300px;
    margin-left: auto;
}

.form:hover{    /* 当鼠标指针移动到当前执行 */
    color: #3498db;    /* 字体颜色 */
    border: 1px solid;  /* 显示方框 */
}


.spacing{
    margin-top: 20px;
}



