/* 夜间流星划过 */

/* *
{
    border: 2px solid green;
} */
body{
    background:linear-gradient(#000,#000);
    display: flex;
}
.body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: aliceblue;
}
h3{
    text-align: center;
    color: aliceblue;
}

/* 流星动画效果 */
span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
    0 0 0 8px rgba(255,255,255,0.1),
    0 0 0 20px rgba(255,255,255,0.1);  

    animation: animate 5s linear infinite;  /* 播放动画 */
}
span::before{
    content: "";
    position:absolute;
    top: 50%;
    transform:translateY(-50);
    width: 300px;
    height: 3px;
    background:linear-gradient(90deg,#fff,transparent)
}
/* 动画 */
@keyframes animate {
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 5s;
}
span:nth-child(2){
    top: 20;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 5s;
}
span:nth-child(3){
    top: 30px;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 10s;
}