.body
{
    margin: 0;
    padding: 0;
}
*
{
    border: 1px solid;
}

body{
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}