html{
    background:linear-gradient(#e3c5eb,#a9c1ed);
}
*
{
    margin: 0;
    padding: 0;
}
/* *
{
    border: 1px solid;
} */

.login{
    justify-content: center;
    align-items: center;
}

button{
    padding: auto auto;   /* 更改大小 */
    border: 1px solid #e3c5eb;  /* 方框颜色 */
    font-size:20px;
    background:linear-gradient(150deg,#74b9ff,#FDA7DF);
    color: #fff;
    transition: 0.8s;   /* 动画过渡 */
}

button:hover{
    color: rgb(82, 82, 176);

}

video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: 0;
    height: auto;
    z-index: -1;
    /*灰色调*/
    /*-webkit-filter:grayscale(100%)*/
}