body{
    height: 100vh;

}
.body{
    /* 初始化网页 */
    padding: 0;
    margin: 0;
}
*{
    border: 1px solid;
}


img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}


.buju{

    text-align: center; /* 图片居中显示 */
    margin-top: 50px; /* 上下距离 */
    margin-left: 15%; /* 每个盒子的距离（左右距离） */
}


