body{
    height: 100vh;

}
.body{
    /* 初始化网页 */
    padding: 0;
    margin: 0;
}
*{
    border: 1px solid;
}


img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.buju{
    text-align: center;
}


