body{
    height: 100vh;
    width: 100vh;

    background:linear-gradient(lawngreen,green);

}
.body{
    /* 初始化网页 */
    padding: 0;
    margin: 0;
}
/* *{
    border: 1px solid;
} */

/* 图片圆形 */
img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

/* 显示边框，设置距离（美观） */
.biankuang{
    border: 1px solid;
    margin-right: 20px;
}


